.contenedor--home {
	width: 100%;
	display: flex;
	flex-direction: column;
	
	@include media(desktop-s) {
		height: 1200px;
		width: 1300px;
		margin: 0 auto;
		@include display-grid;
		@include grid-template-columns(1fr grid-repeat(3));
		@include grid-template-rows(1fr grid-repeat(3));
	}
}

.caja--grande {
	@include grid-row(1,3);
	@include grid-column(1,4);
}

.banner--homepage {
	@include grid-row(2, 4);
	@include grid-column(4, 5);	
}

.sidebar--listado {
	@include grid-row(3, 5);
	@include grid-column(1, 2);	
}

.caja-zelda {
	@include grid-row(3, 4);
	@include grid-column(2, 4);	
}

.caja-rdr2 { 
	@include grid-row(1, 2);
	@include grid-column(4, 5);	
}

.caja-ff { 
	@include grid-row(4, 5);
	@include grid-column(2, 3);	
} 

.caja-fortnite { 
	@include grid-row(4, 5);
	@include grid-column(3, 4);	
} 

.caja-xbox { 
	@include grid-row(4, 5);
	@include grid-column(4, 5);	
}